@use "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: normal;
}

.scroll-snap-child {
    scroll-snap-align: start;
}

.ui-section {
    @apply mx-auto px-[15px] w-[1170px] xl:w-[950px] lg:w-[750px] md:w-full;
}

.ui-section-title {
    font-family: "Anton", sans-serif;
    @apply pt-[70px] pb-[80px] text-center uppercase underline text-[81px] lg:text-[64px] md:text-[52px];
}